<%= form_with(model: tribble, local: true) do |form| %>
  <% if tribble.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tribble.errors.count, "error") %> prohibited this tribble from being saved:</h2>

      <ul>
      <% tribble.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :spaceship %>
    <%= form.text_field :spaceship, id: :tribble_spaceship %>
  </div>

  <div class="field">
    <%= form.label :colour %>
    <%= form.text_field :colour, id: :tribble_colour %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.text_field :quantity, id: :tribble_quantity %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
