<p id="notice"><%= notice %></p>

<h1>Tribbles</h1>

<table>
  <thead>
    <tr>
      <th>Spaceship</th>
      <th>Colour</th>
      <th>Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tribbles.each do |tribble| %>
      <tr>
        <td><%= tribble.spaceship %></td>
        <td><%= tribble.colour %></td>
        <td><%= tribble.quantity %></td>
        <td><%= link_to 'Show', tribble %></td>
        <td><%= link_to 'Edit', edit_tribble_path(tribble) %></td>
        <td><%= link_to 'Destroy', tribble, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tribble', new_tribble_path %>
